/* Navbar Advertisement */
.desktop-navbar-advertisement { display: none !important; }

.mobile-navbar-advertisement { 
    width: 100% ;
    padding-top: .3em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mobile-navbar-advertisement > 
.navbar-delivery-block {
    flex: 0 1 55%;
    margin: .4em 0 .4em 0;
    padding: 0 5% 0 5%;
    display: flex;
    flex-flow: row wrap;
    color: #691C56;
}
.mobile-navbar-advertisement > 
.navbar-delivery-block > h5 {
    flex: 0 1 12.5em;
    font-size: 9px;
}

.mobile-icon-wrapper { flex: 0 1 20%; }
.mobile-bicycle-icon {
    width: 21px;
    height: 13px;
}

.mobile-navbar-advertisement > 
.navbar-discount-block {
    flex: 0 1 45%;
    margin: .4em 0 .4em 0;
    text-align: center;
    flex-flow: column wrap;
    color: #691C56;
}
.mobile-navbar-advertisement > 
.navbar-discount-block > h5 {
    font-weight: normal;
    margin: 0;
    font-size: 10px;
    margin-bottom: -7px;
}
.mobile-navbar-advertisement > 
.navbar-discount-block > span { 
    letter-spacing: 1.2px; 
}
.mobile-navbar-advertisement > 
.navbar-discount-block > a {
    color: #691C56;
    font-size: 7px;
    text-decoration: none;
}

/*=================
    Media Query 
===================*/
/* Mobile */
@media only screen and (min-width: 400px){
    .mobile-navbar-advertisement > 
    .navbar-delivery-block > h5,
    .mobile-navbar-advertisement > 
    .navbar-discount-block > h5 {
        font-size: 11px;
    }

    .mobile-navbar-advertisement > 
    .navbar-discount-block > a {
        font-size: 8px;
    }
}
@media only screen and (min-width: 450px){
    .mobile-navbar-advertisement > 
    .navbar-delivery-block > h5, 
    .mobile-navbar-advertisement > 
    .navbar-discount-block > h5 {
        font-size: 13px;
    }
    .mobile-navbar-advertisement > 
    .navbar-discount-block > a {
        font-size: 10px;
    }

    .mobile-navbar-advertisement > 
    .navbar-delivery-block {
        padding: 0 4% 0 4%;
        margin: .5em 0 .5em 0;
    }

    .mobile-navbar-advertisement > 
    .navbar-discount-block {
        margin: .5em 0 .5em 0;
    }
    
    .mobile-bicycle-icon {
        width: 32px;
        height: 20px;
        margin-bottom: -9px;
    }
    
    .discount-block > h5 { margin-bottom: -5px; }
}
@media only screen and (min-width: 500px) {
    .mobile-navbar-advertisement {
        width: 90%;
        margin: 0 auto 0 auto;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .mobile-navbar-advertisement { width: 90%; }

    .mobile-navbar-advertisement > .navbar-delivery-block ,
    .mobile-navbar-advertisement > .navbar-discount-block{ 
        margin: .8em 0 .8em 0; 
    }

    .mobile-icon-wrapper { flex: 0 1 15%; }
    .mobile-bicycle-icon {
        width: 40px;
        height: 25px;
    }

    .mobile-navbar-advertisement > 
    .navbar-delivery-block > h5, 
    .mobile-navbar-advertisement > 
    .navbar-discount-block > h5 { 
        font-size: 16px; 
    }

    .mobile-navbar-advertisement > 
    .navbar-discount-block > a {
        font-size: 12px;
    }

    .mobile-navbar-advertisement > 
    .navbar-discount-block > h5 {
        margin-bottom: -2px;
    }

}

/* Desktop */
@media only screen and (min-width: 992px) {
    .mobile-navbar-advertisement { display: none !important; }
    .desktop-navbar-advertisement { 
        width: 90% ;
        margin: 0 auto 0 auto;
        display: flex !important;
        flex-flow: row wrap;
        color: white;
        background-color: #691C56 ;
    }

    .bicycle-icon {
        width: 26px;
        height: 20px;
        padding-bottom: 3px;
    }

    .navbar-delivery-block {
        flex: 0 1 50%;
        display: flex;
    }
    .navbar-delivery-block > h5 {
        margin: auto;
        font-size: 13px;
        letter-spacing: 1.2px;
    }

    .navbar-discount-block {
        flex: 0 1 50%;
        padding: 5px 0 5px 0;
        text-align: center;
    }
    .navbar-discount-block > h5 {
        margin-bottom: 0;
        font-size: 13px;
        font-weight: normal;
    }
    .navbar-discount-block > span { letter-spacing: 1.2px; }
    .navbar-discount-block > a {
        color: white;
        font-size: 10px;
        text-decoration: none;
    }
}
