/*
    minor overwrite of bootstrap css
*/
input:focus,
input:active,
select:focus,
select:active {
    outline: none !important;
}

#quantityNumInput{
   /* width: 1em!important;  */
   height: 1.2em;
}

/**/
.d-table .d-table-row .d-table-cell{
    padding-right: 2em;
    margin-bottom: 1em;
}

#productVariantSelect {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#productVariantSelect > .form-group{
    margin-bottom: 0;
    padding: 0 !important;
    margin-right: 1em;
    display: inline-block;
}

#productVariantSelect > .form-group > span { 
    margin-right: 1em;
}
#productVariantSelect > .form-group > .dropdown-menu > .dropdown-item{
    cursor: pointer;
}

#productVariantSelect > .form-group > .dropdown-menu > input{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(28,110,164,0.15) !important;
    border-radius: 5px !important;
    cursor: text !important;
}

/*==========================
    Dashboard Add Product 
============================*/
/* Product Main Wrapper */
.product-image-wrapper {
  text-align: center;
  text-align: -webkit-center;
}

#productNameInput,
#productName,
#categorySelect {
  font-size: 25px;
}

#costInput,
#priceInput,
#quantityNumInput,
.attribute-text {
  font-size: 22px;
}

#productVariantSelect > .form-group {
  margin-bottom: .5em;
}

.form-group > span { font-size: 20px; }

/* Media Query */
/* desktop */
@media only screen and (max-width: 1440px) {
  .product-variant-wrapper {
      padding-left: 5em !important;
  }

  /* attribute */
  #productVariantSelect {
      flex-direction: column;
  }
  #attribute-add-btn {
      text-align: end;
  }
  #productVariantSelect > .form-group {
      display: flex;
      flex-flow: row wrap;
      margin-right: 0;
      justify-content: space-between;
  }
}

@media only screen and (max-width: 1278px) {
  .product-variant-wrapper {
      padding-left: 8em !important;
  }
}

@media only screen and (max-width: 1199px) {
  .product-variant-wrapper {
      padding-left: 0em !important;
  }
}

@media only screen and (max-width: 1060px) {
  .product-variant-wrapper {
      padding-left: 3em !important;
  }
}

/* tablet */
@media only screen and (max-width: 768px) {
  .product-variant-wrapper {
      padding-left: 8em !important;
  }
}

/* mobile */

/*==========================
    Dashboard Edit Product 
============================*/
